PORT=3000
NODE_ENV=development

# SigNoz / OpenTelemetry (deixe vazio para desativar)
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_SERVICE_NAME=products-api

# Opcional se você iniciar com "node src/app.js" no EasyPanel
# NODE_OPTIONS=--require ./src/instrumentation.js
